body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #BAD8F1;
    overflow: hidden;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}



.icon {
    display: flex;
    gap: 5px;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

    .icon img {
        display: block;
        width: 16px;
        height: 16px;

    }

    .icon p {
        margin: 0;
        font-size: 14px;
        color: #333;
    }

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    width: 303px;
    height: 52px;
    left: 18px;
    top: 91px;
}

    .page-header span1 {
        font-size: 32px;
        margin: 0;
    }



.update-section {
    position: absolute;
    width: 279.68px;
    height: 22px;
    left: 33.06px;
    top: 189px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    color: #000000;
    opacity: 0.7;
}

.refresh-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 87.14%;
    right: 8.82%;
    top: 21.16%;
    bottom: 77.03%;
}


a.card-pulse {
    position: absolute;
    width: 178px;
    height: 170px;
    left: 22px;
    top: 236px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

a.card-pulse:hover {
    transform: scale(1.05);
}

a.card-energy {
    position: absolute;
    width: 178px;
    height: 147px;
    left: 22px;
    top: 411px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

    a.card-energy:hover {
        transform: scale(1.05);
    }


a.card-steps {
    position: absolute;
    width: 185px;
    height: 135.12px;
    left: 205px;
    top: 236px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

    a.card-steps:hover {
        transform: scale(1.05);
    }



a.card-sleep {
    position: absolute;
    width: 185px;
    height: 161px;
    left: 205px;
    top: 377px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

    a.card-sleep:hover {
        transform: scale(1.05);
    }


a.card-oxygen {
    position: absolute;
    width: 185px;
    height: 147px;
    left: 205px;
    top: 544px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

    a.card-oxygen:hover {
        transform: scale(1.05);
    }

a.card-stress {
    position: absolute;
    left: 22px;
    top: 563px;
    text-decoration: none;
    color: inherit;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 178px;
    height: 128px;
    transition: transform 0.2s ease;
    outline: none;
}

    a.card-stress:hover {
        transform: scale(1.05);
    }



.cards-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    justify-content: flex-start; 
    height: 100%;
    padding-top: 20px;
}

    .cards-content h2 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
    }


.value-container {
    display: flex;
    align-items: baseline; 
    gap: 5px;
    padding-left: 20px;
}

    .value-container h2 {
        font-size: 40px; 
        margin: 0;
    }

    .value-container small {
        font-size: 18px; 
        margin: 0;
    }



.card-pulse .cards-content h2, .card-pulse .cards-content p, .card-pulse .cards-content small {
    color: #D2416E;
}

.card-steps .cards-content h2, .card-steps .cards-content p, .card-steps .cards-content small{
    color: #7042C9; 
}

.card-energy .cards-content h2, .card-energy .cards-content p, .card-energy .cards-content small {
    color: #0DB1AD;
}

.card-stress .cards-content h2, .card-stress .cards-content p {
    color: #FF8800;
    
}
.card-stress .cards-content h2 {
    font-size: 20px;
}

.card-sleep .cards-content h2, .card-sleep .cards-content p, .card-sleep .cards-content small {
    color: #197BD2; 
}

.card-oxygen .cards-content h2, .card-oxygen .cards-content p, .card-oxygen .cards-content small {
    color: #14ACD2; 
}


.card .icon {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

    .card h2 {
        margin: 5px 0;
        font-size: 28px;
        color: #333;
    }

    .card small {
        font-size: 14px;
        color: #999;
    }




.navbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

    .navbar a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%; 
        transition: background-color 0.3s ease; 
        position: relative;
    }

        .navbar a.active {
            background-color: rgba(173, 216, 230, 0.6); 
        }

        .navbar a img {
            width: 30px;
            height: 30px;
        }

        .navbar a.active::after {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(173, 216, 230, 0.3);
            z-index: -1; 
        }
